<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加角色</title>
    <link rel="stylesheet" href="../lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/public.css" media="all">
    <link rel="stylesheet" href="../js/lay-module/dtree/dtree.css" media="all">
    <link rel="stylesheet" href="../js/lay-module/dtree/font/dtreefont.css" media="all">
    <style>
        .layui-btn:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs) {
            height: 34px;
            line-height: 34px;
            padding: 0 8px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div id="test7" class="demo-transfer"></div>

    <div class="layui-input-block">
        <button type="button" class="layui-btn layui-btn-normal" lay-transferactive="getData">确认保存</button>
    </div>
</div>

<script src="../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="../js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script th:inline="none">
    layui.use('transfer', function(){
       var transfer = layui.transfer, $ = layui.jquery, layer = layui.layer,util = layui.util;

        var getQueryVariable  = function (variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) { return pair[1]; }
            }
            return (false);
        }

        var userId = getQueryVariable("userId");
        var roleData;
        var have = [];
        var ss = $.ajax({
            url: '/role?userId=' + userId,
            async: false,
            method: 'get',
            success: function (result) {
                roleData = result;
                for (var item of result) {
                    if (item.have) {
                        have.push(item.id);
                    }
                }
            }
        });

        transfer.render({
            elem: '#test7',
            data: roleData,
            id: 'selectKey', //定义唯一索引
            parseData: function(res) {
                return {
                    "value": res.id,
                    "title": res.name,
                    "disable": res.disable,
                    "checked": res.checked
                }
            },
            value: have
        })

        util.event("lay-transferactive", {
            getData: function() {
                var roles = eval(transfer.getData('selectKey')); //获取右侧数据
                var roleIds = [];
                for(var i=0; i<roles.length; i++) {
                    roleIds.push(Number(roles[i].value));
                }

                var userRole = {};
                userRole.userId = getQueryVariable("userId");
                userRole.roleIds = roleIds;

                $.ajax({
                    url: '/user/add_role',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(userRole),
                    success: function() {
                        layer.confirm('涉及角色被修改的用户，重新登录后生效', function (index) {
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        });
                    }
                });
            }
        });
    });

</script>
</body>
</html>