<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>授权菜单</title>
    <link rel="stylesheet" href="../lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/public.css" media="all">
    <link rel="stylesheet" href="../js/lay-module/dtree/dtree.css" media="all">
    <link rel="stylesheet" href="../js/lay-module/dtree/font/dtreefont.css" media="all">
    <style>
        .layui-btn:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs) {
            height: 34px;
            line-height: 34px;
            padding: 0 8px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div  class="layui-form layuimini-form" id="menuForm">
        <input type="hidden" name="id" id="roleId">
        <div>
            <ul id="treeDemo" class="ztree"></ul>
        </div>

        <hr>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" id="checkbarTree">确认保存</button>
            </div>
        </div>
    </div>
</div>

<script src="../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="../js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script th:inline="none">
    layui.extend({
        dtree: '../lay-module/dtree/dtree'
    }).use(['dtree', 'layer', 'jquery'], function(){
       var dtree = layui.dtree, layer = layui.layer, $ = layui.jquery;

        var getQueryVariable  = function (variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) { return pair[1]; }
            }
            return (false);
        }
        var roleId = getQueryVariable('roleId');
        // 初始化树
        var demoTree = dtree.render({
            elem: '#treeDemo',
            url: '/menus/treevo?roleId='+roleId,
            checkbar: true,
            // checkbarType: "no-all",
            method: 'GET',
            skin: 'laySimple'
        });

        $("#checkbarTree").click(function(){
            var params = demoTree.getCheckbarNodesParam("checkbarTreea");
            var menus = eval(params);
            var menuIds = [];
            for(var i=0; i<menus.length; i++) {
                menuIds.push(Number(menus[i].nodeId));
            }
            var roleMenu = {};
            roleMenu.roleId = getQueryVariable('roleId');
            roleMenu.menuIds = menuIds;

            $.ajax({
                url: '/role/add_menu',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(roleMenu),
                success: function() {
                    layer.confirm('涉及权限被修改的用户，重新登录后生效', function (index) {
                        var iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(iframeIndex);
                    });
                }
            });
        });

    });

</script>
</body>
</html>